## 因為我用uv管理環境，為了避免管理環境用的檔案push到repository上，增加了這個.gitignore
## 大家可以不用管這個檔案

# ==========================================
# 1. 排除 Python 虛擬環境與套件碎片
# ==========================================
.venv/
venv/
ENV/
__pycache__/
*.pyc

# ==========================================
# 2. 排除 uv 產生的所有設定、鎖定檔與快取
# ==========================================
.uv/
uv.lock
.python-version
pyproject.toml

# ==========================================
# 3. 排除 SQLite 資料庫產生的本地動態暫存檔
# ==========================================
data/*.db-journal
data/*.db-wal

data/planner.db